<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking.com</title>
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css">
</head>
<body>
<div class="header container">
    <h1 class="logo">Booking.com</h1>
    <div>
        <a th:href="@{/hotel/create}">
            <button class="btn">Add hotel</button>
        </a>
        <button class="btn">Register</button>
        <button class="btn">Sign in</button>
    </div>
</div>

<div class="center-form">
    <form class="search-form" th:action="@{/hotel}" method="get">
        <select class="input" name="" id="">
            <option th:each="cityName: ${T(com.example.bookingplatform.address.City).values()}"
                    th:text="${cityName}"
                    th:value="${cityName}"
            ></option>
        </select>
        <input class="input" type="datetime-local">
        <input class="input" type="datetime-local">
        <input class="input" type="number">
        <button class="btn secondary" type="submit">Search</button>
    </form>
</div>

<div th:if="${hotels} != null" class="container">
    <div class="hotel-card" th:each="hotel: ${hotels}">
        <h1 th:text="${hotel.name}"></h1>
        <a th:href="@{hotel/{hotelId}/rooms(hotelId=${hotel.id})}">
            <button class="btn secondary">See rooms</button>
        </a>
        <a th:href="@{hotel/{hotelId}/update(hotelId=${hotel.id})}">
            <button class="btn secondary">Edit hotel</button>
        </a>
    </div>
</div>


</body>
</html>